.modal { 
    background-color: #414b5f !important;
    border-radius: 5px;
    padding: 14px;
    height: 60vh;
    width: 90%;
    max-width: 444px;
    margin: auto;
    overflow: unset;
}

.modal div[role='document'] { 
    height: 100%;
    overflow-y: scroll;
}

.toolbar {
    position: relative;
    text-align: center;
    height: 50px;
}
.close {
    position: absolute !important;
    right: 0;
    top: -5px;
}